/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

h1 {
    font-size: 50px;
    text-align: center;
}

h2 {
    text-align: center;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    line-height: 1;
}

.omne img {
    width: 15%;
    border-radius: 50%;
    margin: 30px 30px 20px 30px;
}
section {
    padding: 50px 15px;
    overflow: auto;
    text-align: center;
}

.hlavicka {
    overflow: auto;
 }

.omne {
    background-color: lightpink;
}

.vzdelani,
.zajmy {
    background-color: lightgrey;
}

.zkusenosti,
.kontakty {
    background-color: lightpink;
}

.paticka {
    background-color: lightgrey;
    padding: 10px;
    font-size: 15px;
}

.hlavicka {
    background-color: lightgray;
}

.omne img {
    float: left;
}

.tab {
    border-width: 2.5px;
    border-style: solid;
    border-color: blanchedalmond;
    margin: auto;
    border-collapse: collapse;
    table-layout: fixed;
    text-align: left;
}


.paticka {
    text-align: center;
}

.hlavicka {
    background-image: url(obrazky/hlavicka.jpg);
    padding: 150px 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.omne .text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    place-items: center;
    text-align: justify;
}

.menu {
    list-style: none;
    color:black;
    background-color: lightgrey;
    margin: 0;
    padding: 0;
    text-align: center;
}

.menu li {
    display: inline-block;
}

.menu a {
    display: inline-block;
    padding: 20px 30px;
    text-decoration: none;
}

.menu :hover {
    color: white;
    background-color: black;
}


a {
    color: black;
}

a:hover {
    color: whitesmoke;
}


